@import "bourbon";
@import "neat";
@import "reset.scss";
@import "variables.scss";

html {
  height: 100%;
}

body {
  background-color: whitesmoke;
  color: #555;
  font-family: $font-stack;
  height: 100%;
}

.navbar {
  @include grid-container;
  @include padding(25px 5px);
  position: absolute;
  right: 0;
  left: 0;
  a {
    color: $wht;
    text-decoration: none;
  }

  h3 {
    @include grid-column(2);
  }

  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 66px;
    width: 66px;

    a {
      position: absolute;
      left: 18px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px;
      span,
      span:before,
      span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 25px;
        background: $wht;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease;
      }
      span:before {
        top: -7px;
      }
      span:after {
        bottom: -7px;
      }
      &.active span {
        background-color: transparent;
        &:before,
        &:after {
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  ul {
    @include grid-column(10);
    text-align: right;
    margin-left: 0;
    li {
      display: inline-block;
      text-transform: uppercase;
      a {
        font-size: .75em;
        font-weight: 600;
        &:hover {
          opacity: .8;
          transition: .1s ease-in;
        }
        span {
          margin-left: 15px;
          margin-right: 15px;
          opacity: .6;
        }
      }
    }
  }

}

.wrapper {
  max-width: 600px;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.3) 25%, rgba(0,0,0,.1)), url(../public/assets/herobg.jpg);
  background-position: center center;
  background-size: cover;
  height: 625px;
  color: $wht;
  .wrapper {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    h1 {
      font-size: 2.45em;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.5;
      span {
        letter-spacing: 8.3px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .navbar {
    overflow: hidden;
    .nav-mobile {
      display: block;
    }
    ul {
      float: right;
      margin-top: 45px;
      transform: translateX(125px);
      border-right: 1px solid $wht;
      transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      max-width: 86px;
      background-color: rgba(0,0,0,.2);
      border-radius: 1px;
      &.active {
        display: block;
        transform: translate(0);
        margin-right: 18px;
      }
      li {
        display: block;
        a{
          line-height: 30px;
          padding-right: 15px;
          padding-left: 15px;
          span {
            display: none;
          }
        }
      }
    }
  }
}


