$font-stack: Open Sans, sans-serif;
$header-font: 'Dancing Script', cursive;
$wht: #fff;
$emphasis-color: #B29879;
$section-bg: #F6F4F1;
$breakpoint: 800px;
$custom-grid: (
  columns: 12,
  gutter: 0px,
);
$menu-grid: (
  columns: 12,
  gutter: 35px
);
$header-grid: (
  columns: 12,
  gutter: 0px,
  media: 670px,
);
$breakpoint-grid: (
  columns: 12,
  gutter: 0px,
  media: 800px,
);
